body{
    background-color: rgb(214, 214, 214);
}
.container{
    margin: 150px 0 0 350px;
}

.row{
    width: 80%;
    height: 70px;
}

.one, .five{
    margin-top: 15px;
}
.two{
    margin: 15px 0 0 27px;
}
.three{
    margin: 15px 0 0 50px;
}
.four{
    margin: 15px 0 0 0;
}
button{
    width: 70px;
    height: 70px;
    border: none;
    background: rgb(214, 214, 214);
    border-radius: 20%;
    box-shadow: 5px 5px 10px #474343, -5px -5px 10px #eeebeb;

    font-size: 30px;
    margin-left: 10px;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

button:hover{
    transform: scale(1.1);
}
.st-btn{
    width: 250px;
    border-radius: 10px;
}
.s-btn{
    width: 90px;
    border-radius: 10px;
}
.td{
    width: 150px;
    border-radius: 10px;  
}